.Events {
  .eventsContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 8%;
    a {
      text-decoration: none;
      color: black;
      &:first-of-type {
        justify-self: left;
      }
      &:nth-of-type(2) {
        justify-self: center;
      }
      &:last-of-type {
        justify-self: right;
      }
    }
  }
}