.Hero {
  // position
  margin: 50px 200px;
  padding: 50px;
  // layout
  align-items: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  .welcome {
    margin-bottom: 50px;
  }
  .statbox {
    .HeroStat {
      margin: 5px 20px;
      display: inline-block;
      vertical-align: middle;
    }
  }
}

.EventsBox {
  margin: 100px 5%;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  align-items: center;
}
