header {
  text-align: center;
  position: fixed;
  justify-content: center;
  align-items: center;
  img {
    width: 12%;
  }
  nav {
    margin-left: 200px;
    font-size: 16px;
    text-decoration: none;
    .NavItem {
      margin-left: 10px;
      margin-right: 10px;
      display: inline;
    }
    button {
      color: #1b1840;
    }
    #NavEvents {
      background-color: blue;
    }
  }
}
// link (e.g. hover)
