@import "../variables.scss";

// header contains brand, menuIcon, navItems (expanded?)
header {
    // position
    top: 0;
    position: sticky;
    padding: 0 5%;
    height: $navbar-height;
    z-index: 10000;
    // layout
    display: flex;
    justify-content: space-between;
    align-items: center;
    img {
        height: $navbar-height;
    }
    a {
        text-decoration: none;
        color: black;
    }
    ul {
        list-style: none;
    }
    i {
        cursor: pointer;
    }
    .fa-caret-down {
        display: none;
    }
    .menuIcon {
        display: none;
        margin: 5px 8px;
    }
    .navItems {
        display: flex;
        align-items: center;
        li:hover {
            // animated line
            text-decoration: underline;
            text-decoration-color: red;
        }
        .NavItem {
            margin: 5px 10px;
            display: inline-block;
            .dropdown {
                position: absolute;
                padding: 4px 0;
                // margin: 4px 0;
                background-color: lightgray;
            }
        }
        .contact {
            display: none;
        }
        button {
            margin: 5px 8px;
        }
    }
}


@media screen and (max-width: $mobile-width) {
    header {
        .menuIcon {
            display: block;
        }
        .fa-caret-down {
            display: inline-block;
            margin-left: 4px;
        }
        .navItems {
            display: none;
            .contact {
                // put in expanded?
                display: block;
            }
            &.expanded {
                // position
                position: absolute;
                top: $navbar-height;
                // layout
                display: flex;
                flex-direction: column;
                // style
                background-color: rgba(0, 0, 0, 0.45);
                .NavItem {
                    text-align: center;
                    .dropdown {
                        position: relative;
                        background-color: lightgray;
                    }
                }
                button {
                    display: none;
                }
            }
        }
    }
}
